<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="admin-page">
    <nav class="navbar">
        <div class="navbar-brand">
          <span>Fragrance</span>
        </div>
        <ul class="navbar-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <% if (user.role === 'admin') { %>
            <li><a href="/admin">Admin dashboard</a></li>
          <% } %>
          <li><a href="/fragrances">Fragrances</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    <div class="container">
        <h2>Admin Dashboard</h2>
        <td><a href="/profile"><img src="/<%= user.profilePicture %>" class="profile-img"></a></td>
        <h3>All users</h3>
        <table>
            <tr>
                <th>Profile</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            <% users.forEach(user => { %>
                <tr>
                    <td><img src="/<%= user.profilePicture %>" class="profile-img"></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                    <td>
                        <form action="/admin/update-role/<%= user._id %>" method="POST">
                            <select name="role">
                                <option value="user" <%= user.role === 'user' ? 'selected' : '' %>>User</option>
                                <option value="admin" <%= user.role === 'admin' ? 'selected' : '' %>>Admin</option>
                            </select>
                            <button type="submit" class="btn-update" >Update Role</button>
                        </form>
                        <form action="/admin/delete-user/<%= user._id %>" method="POST" style="display:inline;">
                            <button type="submit" class="btn-delete" >Delete User</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
    <footer>
        <p>&copy; 2025 Fragrance Store</p>
    </footer>
</body>
</html>
